.footer-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  height: auto;
  background-color: rgb(252, 234, 213);
  padding: 20px;
}

.ul-footer-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ul-footer-container li {
  margin: 0 50px;
}

.img-footer-logo img {
  width: 180px;
  height: auto;
  object-fit: contain;
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(252, 234, 213);
  font-size: medium;
}

@media (max-width: 990px) {
  .ul-footer-container ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .ul-footer-container li {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .img-footer-logo img {
    width: 200px;
  }
}
