h1 {
  text-align: center;
  overflow: hidden;
}

.body_elements {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.services-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px;
  width: 200px;

  text-align: center;
}

.services-card img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.services-card h2 {
  margin: 10px 0;
}

.services-card button {
  margin-top: 10px;
}

/*Section2*/

.who-is-mila-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.who-is-mila-container div {
  width: 50%;
  padding-right: 25px;
  font-size: 35px;
  text-align: center;
  margin: 0;
}

.who-is-mila-container img {
  border-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 40%;
  height: auto;
  object-fit: cover;
}
/* section3 */

.who-is-mila-container2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 40px;
}
.who-is-mila-container2 div {
  width: 50%;
  padding-right: 25px;
  font-size: 35px;
  text-align: center;
  margin: 0;
}

.who-is-mila-container2 img {
  border-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 40%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .body-container1 {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .body_elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  .services-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px;
    width: 90%;
    max-width: 300px;
    text-align: center;
  }
}
