@font-face {
  font-family: "Careny";
  src: url("../public/fonts/Careny.ttf") format("truetype");
  /* font-weight: normal; */
  /* font-style: normal; */
}

:root {
  font-family: "Careny", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  /* letter-spacing: 2px; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  color: rgba(138, 118, 93, 0.87);
  background-color: rgb(245, 231, 214);
}
