h1 {
  text-align: center;
  overflow: hidden;
  padding: 10px 10px 0px 10px;
  font-size: 30px;
}
/* p {
  font-size: 25px;
  font-weight: 590;
} */

/* section2 */
.body-container2 {
  margin-top: 45px;
}
.body-container2 h2 {
  margin-top: 55px;
}
.div-confianza-section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-confianza-section2 h2 {
  font-size: 70px;
  margin: 15px;
}
.div-confianza-section2 p {
  font-family: "bon-vivant-regular";
  font-size: 50px;
  text-align: center;
  margin: -25px;
}
.vertical-line {
  border-left: 1px solid rgba(107, 92, 73, 0.87);
  height: 100px;
  margin: 0 20px 15px;
}

.text-vertical-mila {
  writing-mode: vertical-lr;
  font-size: 45px;
  text-align: center;
  margin-left: -15px;
  overflow: hidden; 
  display: inline-block; 
  white-space: nowrap; 
  height: 0; 
  animation: typing 4s steps(25, end) forwards; 
}

.who-is-mila-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.who-is-mila-container div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: tomato; */
  /* margin-right: -25px; */
}
.who-is-mila-container p:nth-of-type(1) {
  font-size: 35px;
  text-align: center;
  margin: -15px 0px 0px 0px;
}
.who-is-mila-container div:nth-of-type(2){
  display: flex ;
  flex-direction: column;
  align-items: center;

}
.who-is-mila-container div p:nth-of-type(1) > span {
  font-family: "bon-vivant-regular";
  font-size: 37px;
  text-align: center;
}
.who-is-mila-container div p:nth-of-type(2) {
  font-size: 22px;
  width: 300px;
  text-align: center;
  /* padding: 0px 55px 0px 55px; */
}
.horizontal-line{
  border-top: 1px solid rgba(107, 92, 73, 0.50);
  width: 100%;
  margin: 20px 0px 20px 0px;
}
/* .who-is-mila-container div {
  width: 50%;
  padding-right: 25px;
  font-size: 35px;
  text-align: center;
  margin: 0;
  background-color: transparent;
} */

.who-is-mila-container img {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));
  object-fit: cover;
  display: block;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  /* object-fit: cover; */
}
/* section3 */

.who-is-mila-container3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 40px;
}
.who-is-mila-container3 div {
  width: 50%;
  padding-right: 25px;
  font-size: 35px;
  text-align: center;
  margin: 0;
}

/* container3 */

.body-container3{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap:30px
}
.body-container3 div:nth-child(1){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  gap: 30px;
}
.body-container3 h2{
  font-size: 40px;
  margin: 15px;
}
.body-container3 p{
  font-size: 25px;
  text-align: center;
  margin: 0px 0px 0px 0px;
}
.Higiene-facial {
  width: 500px; 
  height: 100%; 
  object-fit: cover;  
}

.img-container3 {
    width: 400px;  
    height: auto;  
    object-fit: cover;  /* Asegura que la imagen cubra el contenedor sin distorsionarse */
  }

  .body-container3 div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
 
  }
/* efectos de texto */

@keyframes typing {
  from {
    height: 0; 
  }
  to {
    height: 30%; 
  }
}

/* responsive */

@media (max-width: 768px) {
  .body-container1 {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .body-container3,
  .body-container4 {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    text-align: center;
    margin-top: -150px;
  }
  .body_elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  .services-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
    border-radius: 8px;
    padding: 16px;
    width: 90%;
    max-width: 300px;
    text-align: center;
  }

  .who-is-mila-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  .body-container4 {
    margin-bottom: 200px;
  }
  .who-is-mila-container img {
    width: 300px;
    height: auto;
    object-fit: cover;
  }

  .who-is-mila-container p {
    margin-top: 10px;
    font-size: 20px;
  }

  .div-confianza-section2 h2 {
    font-size: 70px;
    margin: 15px;
    text-align: center;
  }
  /* .text-vertical-mila{
    display: relative;
    position: right;
    left: 200px;
    top: 200px; 

  } */
.who-is-mila-container div:nth-of-type(1){
  display: flex;
  flex-direction: row;
margin-bottom: 5px;
 
}

}
