h1 {
  text-align: center;
  overflow: hidden;
  padding: 10px 10px 0px 10px;
  font-size: 30px;
}
p {
  font-size: 25px;
  font-weight: 590;
}

/* section2 */

.body-container2 h2 {
  margin-top: 55px;
}
.text-section2 {
  font-size: 30px;
  text-align: center;
  overflow: hidden;
  padding: 10px 10px 0px 10px;
}

.who-is-mila-container,
.who-is-mila-container4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 10px;
  padding: 30px;
  height: 700px;
  background-color: transparent;
}

.who-is-mila-container div {
  width: 50%;
  padding-right: 25px;
  font-size: 35px;
  text-align: center;
  margin: 0;
  background-color: transparent;
}

.who-is-mila-container img,
.who-is-mila-container3 img,
.who-is-mila-container4 img {
  border-radius: 25px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));
  width: 32%;
  height: auto;
  object-fit: cover;
  display: block;
}
/* section3 */
.body-container3,
.body-container4 {
  margin-top: -280px;
}
.who-is-mila-container3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 40px;
}
.who-is-mila-container3 div {
  width: 50%;
  padding-right: 25px;
  font-size: 35px;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .body-container1 {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .body-container3,
  .body-container4 {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    text-align: center;
    margin-top: -150px;
  }
  .body_elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  .services-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
    border-radius: 8px;
    padding: 16px;
    width: 90%;
    max-width: 300px;
    text-align: center;
  }

  .who-is-mila-container,
  .who-is-mila-container3,
  .who-is-mila-container4 {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  .body-container4 {
    margin-bottom: 200px;
  }
  .who-is-mila-container img,
  .who-is-mila-container3 img,
  .who-is-mila-container4 img {
    width: 300px;
    height: auto;
    object-fit: cover;
  }

  .who-is-mila-container p,
  .who-is-mila-container3 p,
  .who-is-mila-container4 p {
    margin-top: 10px;
    font-size: 20px;
  }
}
